<div class="title">
  <ul class="breadcrumb">
    <li class="active">学習進度管理</li>
  </ul>


  <%= link_to new_recipe_path, class: "btn btn-sm btn-success btn-inline" do %>
    <i class="glyphicon glyphicon-plus"></i>
    新規予定
  <% end %>
</div>

<div class="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div class="thumbnail">
        <div class="caption">
          <div class="recipe-content">
            <h3><%= link_to truncate(recipe.name), recipe_path(recipe) %></h3>
            <p><%= truncate(recipe.description, length: 100) %></p>
          </div>
          <div class="btn-group recipe-actions">
            <%= link_to edit_recipe_path(recipe), class: "btn btn-sm btn-warning" do %>
              <i class="glyphicon glyphicon-edit"></i>
              編集
            <% end %>
            <%= link_to recipe_path(recipe), class: "btn btn-sm btn-danger", data: {
                confirm: "Are you sure to delete: #{recipe.name}?",
              }, method: :delete do %>
              <i class="glyphicon glyphicon-remove"></i>
              削除
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>  