<div class="title">
  <ul class="breadcrumb">
    <li><%= link_to "学習進度管理", recipes_path %></li>
    <li class="active"><%= @recipe.name %></li>
  </ul>

  <div class="btn-group">
    <%= link_to recipes_path, class: "btn btn-sm btn-default" do %>
      <i class="glyphicon glyphicon-chevron-left"></i>
      戻す
    <% end %>
  </div>
</div>

<div class="page-header">
  <h1> <%= @recipe.name %> </h1>
</div>
<h2> Description: </h2>
<p>  <%= @recipe.description %>  </p>