<%= render partial: "particals/errors" %>

<%= form_for @study_plan, html: { class: "form-horizontal" } do |form| %>

  <%= form.hidden_field :start_date %>
  <%= form.hidden_field :end_date %>

  <div class="studies">
    <%= form.fields_for :studies do |study_fields| %>
      <%= study_fields.hidden_field :id %>
      <%= study_fields.hidden_field :date %>
      <div class="form-group">
        <p>
          <%= study_fields.object.date %>
        </p>
      </div>
      <div class="form-group">
        <div class="col-sm-11">
          <%= study_fields.select :recipe_id, current_user.recipe_options, {},
          class: "form-control" %> 
        </div>
      </div>
    <% end %> 
  </div>
  <div class="form-group">
    <div class="col-sm-11 col-sm-offset-1">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>