<h1> <%= @plan.name %> </h1>

<h2> Description: </h2>
<p>  <%= @plan.description %>  </p>

<div>
  <ul class="plan-actions">
    <li>
      <%= link_to "Back", plans_path %>
    </li>
    <li>
      <%= link_to "Edit", edit_plan_path(@plan) %>
    </li>
    <li>
      <%= link_to "Delete", plan_path(@plan), data: {
        confirm: "Are you sure to delete: #{@plan.name}?",
      }, method: :delete %>
    </li>
  </ul>
</div>